* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary);
  font-family: Arial, sans-serif;
  color: var(--white);
  transition: background-color 0.5s ease;
  position: relative;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: "Quicksand", sans-serif;

  font-weight: 100;
  font-size: 20px;
  line-height: 40px;
  color: var(--primary);
  margin-bottom: 40px;
}

.title h2 {
  font-family: "Quicksand", serif;
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
}

.title p {
  font-family: "Quicksand", serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 23px;
  color: var(--primary);
  margin-top: 20px;
}

.title span {
  font-family: "Quicksand", serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 23px;
  color: var(--black);
}

.title .title-music {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 10px;
  color: var(--black);
}

.separator {
  width: 150px;
  margin: 20px 0;
  border-top: 1px solid var(--primary);
}

.button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;

  font-family: "Quicksand", serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary);
  margin-top: 20px;
}

.button:hover {
  background-color: var(--primary);
  color: var(--white);
}

.centralize-small-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-button {
  display: inline-block;
  width: 48%;
  margin: 10px 1%;
  padding: 12px;

  background-color: var(--primary);
  border: 1px solid var(--primary-opacity);
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;

  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  color: var(--white);
}

.small-button:hover {
  background-color: var(--white);
  color: var(--primary);
}

@media (max-width: 600px) {
  .button {
    padding: 12px;
  }

  .small-button {
    font-size: 12px;
    padding: 10px;
  }
}

#lottie-container {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.background-flower {
  position: absolute;
  z-index: -1;
}

.background-flower-top {
  top: -20%;
  right: 0;
  width: 150px;
  transform: rotate(180deg);
  opacity: 0.2;
}

.background-flower-bottom {
  bottom: -10%;
  left: 0;
  width: 150px;
  opacity: 0.2;
}
