/* global.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #23443f;
  --primary-opacity: #82907d;
  --secondary: #f9f7f7;
  --text-color: #333;
  --background-color: #f7f9f8;
  --white: #ffffff;
  --black: #000;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2 {
  font-family: "Quicksand", cursive;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: "Quicksand", sans-serif;

  font-weight: 100;
  font-size: 20px;
  line-height: 40px;
  color: var(--primary);
  margin-bottom: 40px;
}

.title h2 {
  font-family: "Quicksand", serif;
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
}

.title p {
  font-family: "Quicksand", serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 23px;
  color: var(--primary);
  margin-top: 20px;
}
