.presence-confirmation-container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.background-flower {
  position: fixed;
  bottom: -500px;
  right: -100px;
  max-width: 50%;
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
}

.background-flower-left {
  position: fixed;
  bottom: -300px;
  left: -100px;
  max-width: 50%;
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .background-flower {
    position: fixed;
    bottom: -10%;
    right: -30%;
    width: 50%;
    height: auto;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
  }

  .background-flower-left {
    position: fixed;
    bottom: -10%;
    left: -30%;
    width: 50%;
    height: auto;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
    transform: scaleX(-1);
  }
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--primary);
  text-align: center;
}

.presence-form {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #ccc;
}

.confirmation-message {
  margin-top: 20px;
  font-size: 18px;
  color: var(--primary);
  font-weight: bold;
}
